/* *.background:   #071523 */
/* *.background:   #282a36 */

/* -- Pink -- */
*foreground:    #E8DFEA
*background:    #1C1C1C
*.color0:       #1C1C1C
*.color1:       #CE6AA2
*.color2:       #A991AE
*.color3:       #D398AF
*.color4:       #BAA5C5
*.color5:       #DCA6D3
*.color6:       #CCB2D1
*.color7:       #E8DFEA
*.color8:       #A29CA3
*.color9:       #CE6AA2
*.color10:      #A991AE
*.color11:      #D398AF
*.color12:      #BAA5C5
*.color13:      #DCA6D3
*.color14:      #CCB2D1
*.color15:      #E8DFEA

i3wm.bg:        #DCA6D3
i3wm.bg2:       #E8DFEA
i3wm.tx:        #1C1C1C
i3wm.wall:      $HOME/.config/i3/dark-flower.jpg 

st.termname:    st-256color
st.shell:       /usr/bin/zsh
st.font:        Noto Sans Mono CJK JP:pixelsize=16:antialias=true:autohint=true;
st.borderpx:    15
st.cursorshape: 6
st.chscale:     1.2

Xft.lcdfilter: lcddefault
