/* *.background:   #071523 */
/* *.background:   #282a36 */

/* -- Dracula -- */
/* *.background:   #1C1C1C */
/* *.foreground:   #FFFFFF */
/* *.color0:       #000000 */
/* *.color8:       #4D4D4D */
/* *.color1:       #FF5555 */
/* *.color9:       #FF6E67 */
/* *.color2:       #50FA7B */
/* *.color10:      #5AF78E */
/* *.color3:       #F1FA8C */
/* *.color11:      #F4F99D */
/* *.color4:       #BD93F9 */
/* *.color12:      #CAA9FA */
/* *.color5:       #FF79C6 */
/* *.color13:      #FF92D0 */
/* *.color6:       #8BE9FD */
/* *.color14:      #9AEDFE */
/* *.color7:       #BFBFBF */
/* *.color15:      #E6E6E6 */

/* -- Falcon -- */
*.background:   #1c1c1c
*.foreground:   #b4b4b9
*.color0:       #000004
*.color8:       #020221
*.color1:       #ff3600
*.color9:       #ff8e78
*.color2:       #718e3f
*.color10:      #b1bf75
*.color3:       #ffc552
*.color11:      #ffd392
*.color4:       #635196
*.color12:      #99a4bc
*.color5:       #ff761a
*.color13:      #ffb07b
*.color6:       #34bfa4
*.color14:      #85ccbf
*.color7:       #b4b4b9
*.color15:      #f8f8ff
*.cursorfg:     #ffe8c0

/* -- Yellow -- */
/* i3wm.bg:        #F7EA98 */
/* i3wm.bg2:       #AEAEAE */

/* -- Pink -- */
i3wm.bg:        #DCA6D3
i3wm.bg2:       #E8DFEA
i3wm.tx:        #1C1C1C
i3wm.wall:      $HOME/.config/i3/dark-flower.jpg 

st.termname:    st-256color
st.shell:       /usr/bin/zsh
st.font:        Noto Sans Mono:pixelsize=16:antialias=true:autohint=true;
st.borderpx:    15
st.cursorshape: 6
st.chscale:     1.2

Xft.lcdfilter: lcddefault
