i3wm.bg:        #908caa
i3wm.bg2:       #6e6a86
i3wm.tx:        #191724

i3wm.wall:      $HOME/.config/i3/blue.jpg

st.termname:    st-256color
st.shell:       /usr/bin/zsh
st.font:        Noto Sans Mono Nerd Font:pixelsize=16:antialias=true:autohint=true;
st.borderpx:    15
st.cursorshape: 6
st.chscale:     1.1
/* st.opacity:     200 */
st.cursorfg:    #E6B673

Xft.lcdfilter: lcddefault
