! special
*.foreground:   #ffffff
*.background:   #071523
*.cursorColor:  #ffffff

! black
*.color0:       #252525
*.color8:       #7781c9

! red
*.color1:       #f75882
*.color9:       #f989a7

! green
*.color2:       #80c2ff
*.color10:      #80c2ff

! yellow
*.color3:       #d5a5dc
*.color11:      #c67ffe

! blue
*.color4:       #51eaff
*.color12:      #51eaff

! magenta
*.color5:       #64acef
*.color13:      #459df0

! cyan
*.color6:       #726cda
*.color14:      #9591da

! white
*.color7:       #aeaeae
*.color15:      #ffffff

Xft.lcdfilter: lcddefault

! URxvt
!URxvt.font:         xft:ypn envypn:size=13
!URxvt*font:         xft:Inconsolata:size=10
URxvt*font:          xft:Source Code Pro:size=10
!URxvt.depth:			          32
URxvt*depth:                      24
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000
URxvt*internalBorder:             25
URxvt*geometry:                   75x23
