! special
*.foreground:   #ffffff
*.background:   #071523
*.cursorColor:  #ffffff

! black
*.color0:       #252525
*.color8:       #7781c9

! red
*.color1:       #fa83a2
*.color9:       #ea698a

! green
*.color2:       #a5fad8
*.color10:      #60d9a8

! yellow
*.color3:       #f7ea98
*.color11:      #e5d468

! blue
*.color4:       #98e4f0
*.color12:      #68d4e5

! magenta
*.color5:       #feaeea
*.color13:      #ea7dcf

! cyan
*.color6:       #70fbfc
*.color14:      #45dbdc

! white
*.color7:       #aeaeae
*.color15:      #ffffff

! xst
st.foreground:  #ffffff
st.background:  #071523
st.color0:      #000000
st.color8:      #4D4D4D
st.color1:      #FF5555
st.color9:      #FF6E67
st.color2:      #50FA7B
st.color10:     #5AF78E
st.color3:      #F1FA8C
st.color11:     #F4F99D
st.color4:      #BD93F9
st.color12:     #CAA9FA
st.color5:      #FF79C6
st.color13:     #FF92D0
st.color6:      #8BE9FD
st.color14:     #9AEDFE
st.color7:      #BFBFBF
st.color15:     #E6E6E6

st.termname:    st-256color
st.shell:       /usr/bin/zsh
st.font:        Noto Sans Mono:pixelsize=14:antialias=true:autohint=true;
st.borderpx:    15
st.cursorshape: 6

Xft.lcdfilter: lcddefault
