configuration {
	modi: "combi";
	lines: 10;
	columns: 1;
	font: "SF Pro Text 12";
	bw: 1;
	padding: 5;
	fixed-num-lines: true;
	sidebar-mode: false;
	combi-modi: "window,drun,run";
	separator-style: "solid";
	hide-scrollbar: true;
}

@theme "~/.config/rofi/colors-rofi.rasi"
