[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=swaybg -m fill -i "%h/.config/niri/flower.jpg"
Restart=on-failure
